# Ignore output files
*.txt
*.out
*.dict
*.parse
*.log

# Ignore error files
*.err

# Ignore input files
*.fa
*.fasta

# Ignore script files
*.sh

# Ignore testing files
reconstruct.py

# Ignore folders
experiments/
testing/